.btn {
  background-color: $color-white !important;
  border: 2px solid !important;
}

.all-contacts {
  color: $color-primary !important;
  
  &:hover {
    background-color: $color-primary !important;
    color: $color-white !important;
  }  
}

.us-contacts {
  color: $color-secondary !important;

  &:hover {
    background-color: $color-secondary !important;
    color: white !important;
  }
}

.close-btn {
  color: $color-primary !important;

  &:hover {
    background-color: $color-primary !important;
    color: $color-white !important;
  }
}